
 body {
    background: #D0E4F5 none no-repeat scroll 17px 13px;
    padding: 2vw;
    font-family:'Noto Sans';
    
}

p {
    color: navy;
    margin-left: 2vw;
}

img {

}

.blenderimg{
    border-radius: 1vw;
    max-width: 80vw;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
    position: relative;
    border-radius: 1vw;
    max-width: 80vw;
    height: auto;

}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #001234;
    border-radius: 1vw;
    overflow: hidden;
    width: 80vw;
    height: 0;
    transition: .2s ease;

}

.container:hover .overlay {
    height: 15%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.pagesthing{

    
}
.borderthings{
    border: 3vw solid blue;.
    border-radius: 2vw;
    border-image: linear-gradient(38deg, rgba(16,86,107,1) 0%, rgba(255,120,156,1) 100%); 
    border-image-slice: 1;
    padding: 3vw;
    padding-top: 0vw;
    padding-bottom: 1vw;
}

.cuteborder{

    border:0.5vw solid blue;
    border-radius: 2vw;
    padding: 0.5vw;
    margin-left: 1vw;
    display: inline-block
}

.intropart{
    style: float: left;
    border-radius: 50% !important;
}

.titlething {
    color: navy;
    margin-left: 0px;
  
}

footer {
    
    padding: 2vw;
    background: tomato none no-repeat scroll 17px 13px;
    margin-top: 5vw;
    border: 1.5vw solid blue;.
    border-radius: 3vw;
    border-image: linear-gradient(322deg, rgba(16,86,107,1) 0%, rgba(255,120,156,1) 100%); 
    border-image-slice: 1;
    padding: 2vw;
    padding-top: 0vw;
    
    
}
.sociallinks !important{
    width: 10% !important;
    height: auto;
    style: float: left !important;
    
}
